/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 1080px;
    margin: 50px auto;
    font-family: Fredoka, sans-serif, cursive;
}
header {
    text-align: center;
    padding-bottom: 50px;
}
h1 {
    font-size: 2.5rem;
    padding-bottom: 50px;
    color: #E6326F;
}
img {
    height: 100px;
}
.team-tag {
    background-color: black;
    color: white;
    width: calc(100% / 3 - 2rem);
    margin-left: 1rem;
    margin-bottom: 1rem;
    display: flex;

}
.blue {
    color: #68CAF1;
}

/* Adding flexbox */

section {
   display: flex; 
   flex-wrap: wrap;
}
.details {
    align-self: center;
    padding-left: 10px;
}